.postimg{float: right; margin: 0px 0px 15px 15px;}

.smallprint{color:#ccc;font-size:9pt;font-style:italic;font-weight:bolder;}
textarea.styled {
	width: 455px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.btnr {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #0f0e0f;
  font-size: 11px;
  background: #c9d0d4;
  padding: 9px 9px 9px 9px;
  text-decoration: none;
}

.btnr:hover {
  background: #a7b0b5;
  text-decoration: none;
}
.combox{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 0px 1px #000000;
  -webkit-box-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 1px #000000;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  opacity: 0.77;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 77);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity = 77);
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*All filters must be placed together*/
  padding:5pt;
  marging-top:3pt;
  margin-left:25pt;
  width:90%;
  font-style:italic;
}